.main {
  border-top: 1px solid #e6e6e6;
  position: relative;
  z-index: 2;
}

.toggle-all {
    border: none;
    bottom: 100%;
    height: 1px;
    opacity: 0;
    position: absolute;
    right: 100%;
    width: 1px;
}

.toggle-all-label {
    pointer-events: none;
}

.toggle-all+label {
  align-items: center;
  display: flex;
  font-size: 0;
  height: 65px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: -65px;
  width: 45px;
}

.toggle-all+label:before {
    color: #949494;
    content: "❯";
    display: inline-block;
    font-size: 22px;
    padding: 10px 27px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.todo-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.toggle-all {
  height: 60px !important;
  right: auto !important;
  width: 40px !important;
}

.todo-list li {
    border-bottom: 1px solid #ededed;
    font-size: 24px;
    position: relative;
}

@media screen and (-webkit-min-device-pixel-ratio: 0){
    .todo-list li .toggle {
        height: 40px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0){
    .todo-list li .toggle, .toggle-all {
        background: none;
    }
}

.todo-list li .toggle {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    bottom: 0;
    height: auto;
    margin: auto 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
}

.todo-list li .toggle+label {
  background-image: url("../../../assets/unCheckedTodo.svg");    
  background-position: 0;
  background-repeat: no-repeat;
}

.todo-list li label {
    color: #484848;
    display: block;
    font-weight: 400;
    line-height: 1.2;
    padding: 15px 15px 15px 60px;
    transition: color .4s;
    word-break: break-all;
}

.todo-list li .destroy {
    bottom: 0;
    color: #949494;
    display: none;
    font-size: 30px;
    height: 40px;
    margin: auto 0;
    position: absolute;
    right: 10px;
    top: 0;
    transition: color .2s ease-out;
    width: 40px;
}

.todo-list li .destroy:after {
    content: "×";
    display: block;
    height: 100%;
    line-height: 1.1;
}

.todo-list li:last-child {
    border-bottom: none;
}

li:hover .destroy-button {
    display: block;
}

.todo-list li .destroy:focus, .todo-list li .destroy:hover {
    color: #c18585;
}

button {
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    vertical-align: baseline;
}

.todo-list li.completed .toggle+label {
    background-image: url("../../../assets/checkedTodo.svg");
}

.todo-list li.completed label {
    color: #949494;
    text-decoration: line-through;
}