.info {
  color: #4d4d4d;
  font-size: 11px;
  margin: 65px auto 0;
  text-align: center;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, .5);
}

.info p {
  line-height: 1;
}

.info a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}